<div class="container">
<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <% event.errors.full_messages.each do |message| %>
      <ul>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :location %>
    <%= form.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.datetime_select :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :entry_fee %>
    <%= form.text_field :entry_fee,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="form-group">
    <%= form.label :avatar %>
    <%= form.file_field :avatars,multiple: true, class: "form-control" %>
  </div>

  
    <%= form.submit "Submit", class: "btn btn-success" %>
  </div>
<% end %>
</div>