
<div class="jumbotron jumbotron-events">
  <div class="container">
    <div class="page-header text-center">
		  <h3>Upcoming Events</h3>
    </div>

    <div class="text-center">
      <%= link_to "Create Event", new_event_path, class: "btn btn-info" %>
    </div>
  </div>
</div>

<div class="container">
  
    <div class="row">
	    <% @events.each do |event|%>
	    <div class="col-12 col-sm-6 col-md-4 col-lg-4"> 
          <div class="card">
	      	  <%= link_to image_tag(url_for(event.avatar), height: "150px", width: "100%"), event_path(event) %>
		      
              <div class="row">
                <h4 class="text-center"><%= link_to "#{event.name}", event_path(event) %></h4>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <p class="text-center">
                    <%= link_to 'Show', event %>
                    <%= link_to 'Edit', edit_event_path(event) %>
                    <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </p>
                </div>
              </div>

              <div class="row">
        	      <div class="col-sm-6 col-md-6 ">
        		      <p class="text-center well well-sm"> <small><%= event.date %></small></p>
        	      </div>
        	    
                <div class="col-sm-6 col-md-6" style="margin-top:2px">
        		      <p class="text-center"><a href="/events/<%= "#{event.id}" %>" class="btn btn-danger" role="button" style="border: none; color: white;"> RSVP </a></p>
        	      </div>
              </div>
            </div>
        </div>
      <%end%>
    </div>
</div>