<!DOCTYPE html>
<html>
  <head>
    <title>TheEventMania</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color:rgb(58, 56, 56);">
      <div class="container-fluid">

        
          <div class="navbar-brand">
            <%= image_tag('mania.png', width: "95px", class: "img-responsive")  %>
          </div>
      

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
          <ul class="nav navbar-nav">
            <li >
              <%= link_to events_path do%>
              Events <%= Event.all.size %>
              <%end%>
            </li>
            <li> 
              <p id="notice" style= "margin-top:15px"><%= notice %></p>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
          
          <% if user_signed_in? %>
            <li > <a > <%= current_user.email %> </a> </li> 
            <li>
              <%= link_to "Account Setting", edit_user_registration_path %> 
            </li>
            <li>
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to "Login", '/login' %>
            </li>
            <li>
              <%= link_to "Register", '/signup' %>
            </li>
          
        </ul>
      </div>
    </div>
    <% end %>
  </nav>


   <%= yield %> 

</body>
</html>
